body{
  background-color:black;
     display: flex;
    justify-content: center;
    align-items: center;
   

}

.container {
    border: 3px solid yellow;
    padding: 50px;
}


.hidden
{
    display: none;
}



  button:hover {
    opacity: 0.8;
  }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }


  button {
    background-color: yellow;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

button:hover {
  opacity: 0.8;
}

label 
{
  color:white;
}
h1 
{
  color:white;
}

.error
{
   color:red;
}